@import url('normalize.css');
@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('../fonts/sf-ui-display-light-58646b33e0551.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('../fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Semibold'), url('../fonts/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('../fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Heavy'), url('../fonts/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Text Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Regular'), url('../fonts/SFUIText-Regular.woff') format('woff');
}


@font-face {
    font-family: 'SF UI Text Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Text Medium'), url('../fonts/SFUIText-Medium.woff') format('woff');
}

    



/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img, video{
    vertical-align: top;
}
a {
    color:#000;
    text-decoration: none;
}
/* ----------------- typography --------------- */
body{
    font-family: 'SF UI Display Light';
    font-size: 15px;
    color:#4A4A4A;
}
/* ----------------- layout --------------- */
.d_flex{
    display: flex;
}
.aic{
    align-items: center;
}
.jcc {
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
body>header{
    height: 94px;
    padding: 0 22px;
}
.hidden{
    display: none;
}
body > header {
    position: relative;
    background: #fff;
    z-index: 2;
}

body > header h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    font-size: 20px;
    font-family: 'SF UI Display Semibold';
}
/* ----------------- button link --------------- */
button, input{
    background: none;
    border:none;
}
.sprite{
    background: url('../images/sprite@2x.png') no-repeat 0 0/492px 498px;
    display: inline-block;
    text-indent:-9999em;    
    width: 18px;
    height: 18px;
}
.aside_toggle {
    background-position:0 -48px;
}
.wish{
    background-position:-354px -432px;
}
.cart{
    background-position:-118px -96px;
}

.history_back {
    background-position: -236px -48px;
}
.share{
    background-position: -354px -144px;
}
.close{
    background-position: -118px -288px;
}
.delete{
    background-position: -472px 100%;
}
/* ----------------- HEADER --------------- */
.header_top_links{
    gap:34px;
}
.header_top_links .cart {
    position: relative;
}
.header_top_links .cart:after{
    content:attr(data-cart);
    width: 19px;   
    height: 19px;
    background: #262628;
    color:#fff;
    font-size: 14px;
    font-family: 'SF UI Display Semibold';
    position: absolute;
    right:-10px;
    top:-10px;
    border-radius:50%;
    text-indent: 0;
    text-align: center;
    line-height: 19px;
}
/* ----------------- Product list --------------- */
.product_list{
    row-gap: 25px;
    flex-wrap:wrap;
}
.product_list li{
    width: 47%;
    text-align: center;
}
.product_list li img{
    width: 100%;
}
/* ----------------- ASIDE --------------- */
body{
    position:relative;
    left: 0;
    transition:left 0.3s ease-out;    
}
body > aside {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 70vw;
    left: -70vw;
    transition:left 0.3s ease-out;
    display: flex;
    flex-direction: column;
}
body.open{
    left: 70%;    
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);     
}
body.open  > aside{
    left: 0;
    overflow-y: auto;   
}
.aside_quick_links{
    flex:1; 
}
.user_info {
    padding: 38px 0;
}
.profile_img {
    width: 50px;
}
.user_info h2{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'SF UI Display Heavy';
    margin-left: 14px;
}
.aside_categories {
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
}
.aside_categories li,
.aside_quick_links li{
    line-height: 54px;
    padding: 0 22px;
    font-size: 15px;
    text-transform: uppercase;
}
.aside_categories li + li{
    border-top: 1px solid #F5F5F5;
}
.aside_categories > li{
    position: relative;
}
.sprite.plus{
    width: 18px;
    height: 18px;
    background-position: -354px -48px;
    position: absolute;
    right: 22px;
    top:21px;
    opacity: 0.3;
}
.aside_categories > li ul{
    display: none;
}
.aside_quick_links {
    padding: 22px;
}
