
  
  /* 湲곕낯 */
  * {padding:0; margin:0; border:0; box-sizing:border-box; vertical-align:top; outline:0; font-size:12px; font-weight:400; font-family:'S-CoreDream'; -webkit-tap-highlight-color: rgba(0,0,0,0); appearance:none; -webkit-appearance:none;}
  *:focus {outline:1px dotted #3561ea;}
  
  /* �뚯씠釉뷀깭洹� */
  table {width:100%; border-spacing:0; table-layout:fixed;}
  th , td {vertical-align:middle; text-align:center;}
  legend , caption {display:none;}
  
  /* 紐⑤컮�� 媛�濡쒕え�� �고듃�뺣� 諛⑹� */
  body {-webkit-text-size-adjust:none;}
  
  /* 踰꾪듉�쒓렇 */
  a , button {outline:0; display:inline-block; vertical-align:top; box-sizing:border-box; cursor:pointer;}
  
  /* �ㅻ뜑 �고듃 �ъ씠利� 珥덇린�� */
  h1 , h2 , h3 , h4 , h5 , h6 {font-size:100%; font-weight:normal; color:#000;}
  h3 {font-size:20px; font-weight:500;}
  h4 {font-size:17px; font-weight:500;}
  
  /* �대�吏� 諛� �꾨뱶�뗭뿉�� 蹂대뜑 �쒖떆 珥덇린�� */
  img , fieldset {border:none;}
  img , object {vertical-align:top;}
  
  /* �쇳깭洹� 珥덇린�� */
  textarea {resize:none;}
  select {border-radius:0; background:#fff;}
  
  /* �낅젰�� �덉떆�쒖떆 */
  ::placeholder {color:#ffc331;}
  
  /* 由ъ뒪�몄쓽 �ㅽ��� �쒓굅 */
  ul , ol , li {list-style:none;}
  em ,address {font-style:normal;}
  
  /* �띿뒪�몄쓽 �됱긽 �쒖떆 */
  a:link {color:inherit; text-decoration:none;}
  a:active {color:inherit; text-decoration:none;}
  a:visited {color:inherit; text-decoration:none;}
  a:hover {color:inherit; text-decoration:none;}
  
  /* �낅젰�� �ы뙆由ъ뿉�쒖쓽 珥덇린�� */
  input , textarea {-webkit-border-radius:0;}
  input:-internal-autofill-selected {background:transparent !important;}
  
  /* clearfix */
  .clearfix::after {content:""; clear:both; display:block;}
  
  /*  */
  .select-box {position:relative; display:inline-block;}
  .select-box:after {position:absolute; right:10px; top:50%; transform:translateY(-50%) rotate(45deg); content:""; display:inline-block; width:0; height:0; border-top:7px solid transparent; border-right:7px solid #041221;}
  .select-box select {cursor:pointer;}
  
  /* 드래그시 색상변경 */
  ::selection {color:#fff; background:#d78419; border:0;}
  
  /* 하이라이트 */
  .highlight {color:red !important;}
  
  /* hidden */
  .hidden {display:none !important;}
  
  /* text숨기기 */
  .txt-hidden {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
  
  /* text위치 */
  .txt-left {text-align:left;}
  .txt-right {text-align:right;}
  .txt-center {text-align:center;}
  
  /* float */
  .pull-left {display:inline-block; float:left;}
  .pull-right {display:inline-block; float:right;}
  
  /* border */
  .bd0 {border:0 !important;}
  .bt0 {border-top:0 !important;}
  .br0 {border-right:0 !important;}
  .bb0 {border-bottom:0 !important;}
  .bl0 {border-left:0 !important;}
  
  /* table col 퍼센트 */
  .col-1 {width:100% !important;}
  .col-2 {width:50% !important;}
  .col-3 {width:33.33% !important;}
  .col-4 {width:25% !important;}
  .col-5 {width:20% !important;}
  
  /* width 간격 */
  .wfull {width:100% !important;}
  .w50 {width:50px !important;}
  .w55 {width:55px !important;}
  .w60 {width:60px !important;}
  .w65 {width:65px !important;}
  .w70 {width:70px !important;}
  .w75 {width:75px !important;}
  .w80 {width:80px !important;}
  .w85 {width:85px !important;}
  .w90 {width:90px !important;}
  .w95 {width:95px !important;}
  .w100 {width:100px !important;}
  .w115 {width:115px !important;}
  .w110 {width:110px !important;}
  .w120 {width:120px !important;}
  .w125 {width:125px !important;}
  .w130 {width:130px !important;}
  .w135 {width:135px !important;}
  .w140 {width:140px !important;}
  .w145 {width:145px !important;}
  .w150 {width:150px !important;}
  .w155 {width:155px !important;}
  .w160 {width:160px !important;}
  .w165 {width:165px !important;}
  .w170 {width:170px !important;}
  .w175 {width:175px !important;}
  .w180 {width:180px !important;}
  .w185 {width:185px !important;}
  .w190 {width:190px !important;}
  .w195 {width:195px !important;}
  .w200 {width:200px !important;}
  .w205 {width:205px !important;}
  .w210 {width:210px !important;}
  .w215 {width:215px !important;}
  .w220 {width:220px !important;}
  .w225 {width:225px !important;}
  .w230 {width:230px !important;}
  .w235 {width:235px !important;}
  .w240 {width:240px !important;}
  .w245 {width:245px !important;}
  .w250 {width:250px !important;}
  .w255 {width:255px !important;}
  .w260 {width:260px !important;}
  .w265 {width:265px !important;}
  .w270 {width:270px !important;}
  .w275 {width:275px !important;}
  .w280 {width:280px !important;}
  .w285 {width:285px !important;}
  .w290 {width:290px !important;}
  .w295 {width:295px !important;}
  .w300 {width:300px !important;}
  .w305 {width:305px !important;}
  .w310 {width:310px !important;}
  .w315 {width:315px !important;}
  .w320 {width:320px !important;}
  .w325 {width:325px !important;}
  .w330 {width:330px !important;}
  .w335 {width:335px !important;}
  .w340 {width:340px !important;}
  .w345 {width:345px !important;}
  .w350 {width:350px !important;}
  .w355 {width:355px !important;}
  .w360 {width:360px !important;}
  .w365 {width:365px !important;}
  .w370 {width:370px !important;}
  .w375 {width:375px !important;}
  .w380 {width:380px !important;}
  .w390 {width:390px !important;}
  .w400 {width:400px !important;}
  .w410 {width:410px !important;}
  .w420 {width:420px !important;}
  .w430 {width:430px !important;}
  .w440 {width:440px !important;}
  .w450 {width:450px !important;}
  .w460 {width:460px !important;}
  .w470 {width:470px !important;}
  .w480 {width:480px !important;}
  .w490 {width:490px !important;}
  .w500 {width:500px !important;}
  
  /* height 높이값 */
  .h05 {height:5px !important;}
  .h10 {height:10px !important;}
  .h15 {height:15px !important;}
  .h20 {height:20px !important;}
  .h25 {height:25px !important;}
  .h30 {height:30px !important;}
  .h35 {height:35px !important;}
  .h40 {height:40px !important;}
  .h45 {height:45px !important;}
  .h50 {height:50px !important;}
  .h55 {height:55px !important;}
  .h60 {height:60px !important;}
  .h65 {height:65px !important;}
  .h70 {height:70px !important;}
  .h75 {height:75px !important;}
  .h80 {height:80px !important;}
  .h85 {height:85px !important;}
  .h90 {height:90px !important;}
  .h95 {height:95px !important;}
  .h100 {height:100px !important;}
  .h110 {height:110px !important;}
  .h120 {height:120px !important;}
  .h130 {height:130px !important;}
  .h140 {height:140px !important;}
  .h150 {height:150px !important;}
  .h160 {height:160px !important;}
  .h170 {height:170px !important;}
  .h180 {height:180px !important;}
  .h190 {height:190px !important;}
  .h200 {height:200px !important;}
  .h210 {height:210px !important;}
  .h220 {height:220px !important;}
  .h230 {height:230px !important;}
  .h240 {height:240px !important;}
  .h250 {height:250px !important;}
  .h260 {height:260px !important;}
  .h270 {height:270px !important;}
  .h280 {height:280px !important;}
  .h290 {height:290px !important;}
  .h300 {height:300px !important;}
  .h310 {height:310px !important;}
  .h320 {height:320px !important;}
  .h330 {height:330px !important;}
  .h340 {height:340px !important;}
  .h350 {height:350px !important;}
  .h360 {height:360px !important;}
  .h370 {height:370px !important;}
  .h380 {height:380px !important;}
  .h390 {height:390px !important;}
  
  /* padding간격 */
  .pl0 {padding-left:0px !important;}
  .pl5 {padding-left:5px !important;}
  .pl10 {padding-left:10px !important;}
  .pl15 {padding-left:15px !important;}
  .pl20 {padding-left:20px !important;}
  .pl25 {padding-left:25px !important;}
  .pl30 {padding-left:30px !important;}
  .pl35 {padding-left:35px !important;}
  .pl40 {padding-left:40px !important;}
  .pl45 {padding-left:45px !important;}
  .pl50 {padding-left:50px !important;}
  .pl55 {padding-left:55px !important;}
  .pl60 {padding-left:60px !important;}
  .pl65 {padding-left:65px !important;}
  .pl70 {padding-left:70px !important;}
  .pl75 {padding-left:75px !important;}
  .pl80 {padding-left:80px !important;}
  .pl85 {padding-left:85px !important;}
  .pl90 {padding-left:90px !important;}
  .pl95 {padding-left:95px !important;}
  .pl100 {padding-left:100px !important;}
  
  .pr0 {padding-right:0px !important;}
  .pr5 {padding-right:5px !important;}
  .pr10 {padding-right:10px !important;}
  .pr15 {padding-right:15px !important;}
  .pr20 {padding-right:20px !important;}
  .pr25 {padding-right:25px !important;}
  .pr30 {padding-right:30px !important;}
  .pr35 {padding-right:35px !important;}
  .pr40 {padding-right:40px !important;}
  .pr45 {padding-right:45px !important;}
  .pr50 {padding-right:50px !important;}
  .pr55 {padding-right:55px !important;}
  .pr60 {padding-right:60px !important;}
  .pr65 {padding-right:65px !important;}
  .pr70 {padding-right:70px !important;}
  
  .pt0 {padding-top:0px !important;}
  .pt10 {padding-top:10px !important;}
  .pt15 {padding-top:15px !important;}
  .pt20 {padding-top:20px !important;}
  .pt25 {padding-top:25px !important;}
  .pt30 {padding-top:30px !important;}
  .pt35 {padding-top:35px !important;}
  .pt40 {padding-top:40px !important;}
  .pt45 {padding-top:45px !important;}
  .pt50 {padding-top:50px !important;}
  .pt55 {padding-top:55px !important;}
  .pt60 {padding-top:60px !important;}
  .pt65 {padding-top:65px !important;}
  .pt70 {padding-top:70px !important;}
  
  .pb0 {padding-bottom:0px !important;}
  .pb10 {padding-bottom:10px !important;}
  .pb15 {padding-bottom:15px !important;}
  .pb20 {padding-bottom:20px !important;}
  .pb25 {padding-bottom:25px !important;}
  .pb30 {padding-bottom:30px !important;}
  .pb35 {padding-bottom:35px !important;}
  .pb40 {padding-bottom:40px !important;}
  .pb45 {padding-bottom:45px !important;}
  .pb50 {padding-bottom:50px !important;}
  .pb55 {padding-bottom:55px !important;}
  .pb60 {padding-bottom:60px !important;}
  .pb65 {padding-bottom:65px !important;}
  .pb70 {padding-bottom:70px !important;}
  
  /* margin간격 */
  .ml0 {margin-left:0px !important;}
  .ml10 {margin-left:10px !important;}
  .ml15 {margin-left:15px !important;}
  .ml20 {margin-left:20px !important;}
  .ml25 {margin-left:25px !important;}
  .ml30 {margin-left:30px !important;}
  .ml35 {margin-left:35px !important;}
  .ml40 {margin-left:40px !important;}
  .ml45 {margin-left:45px !important;}
  .ml50 {margin-left:50px !important;}
  .ml55 {margin-left:55px !important;}
  .ml60 {margin-left:60px !important;}
  .ml65 {margin-left:65px !important;}
  .ml70 {margin-left:70px !important;}
  .ml75 {margin-left:75px !important;}
  .ml80 {margin-left:80px !important;}
  .ml85 {margin-left:85px !important;}
  .ml90 {margin-left:90px !important;}
  .ml95 {margin-left:95px !important;}
  .ml100 {margin-left:100px !important;}
  
  .mr0 {margin-right:0px !important;}
  .mr10 {margin-right:10px !important;}
  .mr15 {margin-right:15px !important;}
  .mr20 {margin-right:20px !important;}
  .mr25 {margin-right:25px !important;}
  .mr30 {margin-right:30px !important;}
  .mr35 {margin-right:35px !important;}
  .mr40 {margin-right:40px !important;}
  .mr45 {margin-right:45px !important;}
  .mr50 {margin-right:50px !important;}
  .mr55 {margin-right:55px !important;}
  .mr60 {margin-right:60px !important;}
  .mr65 {margin-right:65px !important;}
  .mr70 {margin-right:70px !important;}
  
  .mt0 {margin-top:0px !important;}
  .mt10 {margin-top:10px !important;}
  .mt15 {margin-top:15px !important;}
  .mt20 {margin-top:20px !important;}
  .mt25 {margin-top:25px !important;}
  .mt30 {margin-top:30px !important;}
  .mt35 {margin-top:35px !important;}
  .mt40 {margin-top:40px !important;}
  .mt45 {margin-top:45px !important;}
  .mt50 {margin-top:50px !important;}
  .mt55 {margin-top:55px !important;}
  .mt60 {margin-top:60px !important;}
  .mt65 {margin-top:65px !important;}
  .mt70 {margin-top:70px !important;}
  
  .mb0 {margin-bottom:0px !important;}
  .mb10 {margin-bottom:10px !important;}
  .mb15 {margin-bottom:15px !important;}
  .mb20 {margin-bottom:20px !important;}
  .mb25 {margin-bottom:25px !important;}
  .mb30 {margin-bottom:30px !important;}
  .mb35 {margin-bottom:35px !important;}
  .mb40 {margin-bottom:40px !important;}
  .mb45 {margin-bottom:45px !important;}
  .mb50 {margin-bottom:50px !important;}
  .mb55 {margin-bottom:55px !important;}
  .mb60 {margin-bottom:60px !important;}
  .mb65 {margin-bottom:65px !important;}
  .mb70 {margin-bottom:70px !important;}