
/*  */
section { width: 100%; } 

/* layout */
.container { width: 1280px; margin: 0 auto; position: relative; } 
.flexBox { display: flex; width: 100%; justify-content: center; align-items: center; } 

/* header */
.navLine{position:absolute; top:90px; background: #f5f7fa; left:0; height: 0px; width: 100%; z-index: 5;}
#header {max-width:1940px; margin:0 auto; height: 90px; padding: 0 40px; position: relative; border-bottom:1px solid #dfdfdf;  } 
#header > .nav {padding: 0 200px; }
#header > .nav > ul{position: relative;}
#header > .nav > ul > li { width: 170px; position: relative;} 
#header > .nav > ul > li > a { font-size: 18px; font-weight: 400; text-align: center;  width: 100%; height: 90px; line-height: 90px; transition: all 0.3s; text-align: center;} 
#header > .nav > ul > li > a:hover { color: #00448d; font-weight: 600; } 
#header > .nav > ul > li > a::after{ position: absolute; content: ""; width: 0%; height: 4px; background: #3182f6; bottom: 0; left: 50%; transform: translateX(-50%); transition: all 0.3s; } 
#header > .nav > ul > li > a.on::after{position: absolute; content: ""; width: 50%; height: 4px; background: #3182f6; bottom: 0; left: 50%; transform: translateX(-50%); transition: all 0.3s; }
#header > .nav > ul > li > a:hover::after {width: 50%;} 
#header::after.on{position:absolute; top:90px; background: yellow; display: block; left:0; height: 250px; width: 100%; content: "";}
#header.on > .nav > ul::after{position:absolute; top:90px; left:0; width:100%; height: 250px; content: ""; z-index: 97;}

/* scroll */
#header.fixed{border-bottom: 1px solid #eee; box-shadow: 0 2px 8px rbga(0,0,0,0.15);}

/* submenu */
#header > .nav > ul > li > ol.subMenu{display: none; position: absolute; top:90px; left:0; width:100%; text-align: center; z-index: 99;padding-top: 20px;}
#header > .nav > ul > li > ol.subMenu > li > a{padding:10px 0; font-size: 18px; font-weight: 200; z-index: 99  ;}
#header > .nav > ul > li > ol.subMenu > li > a:hover{color:#00448d; font-weight: 500;}
/* login */
#header > .header-login > ul > li {position: relative;}
#header > .header-login > ul > li:first-child::after{position:absolute; content: ""; top:50%; left:-23px; transform: translateY(-50%); width: 20px; height: 30px; background: url('../images/icon_login.png') no-repeat center center;}
#header > .header-login > ul > li:last-child::after{ position: absolute; top: 50%; left: -15px; transform: translateY(-50%); width: 1px; height: 15px; background: #999; content: "";} 
#header > .header-login > ul > li > a { font-size: 16px; color: #999; font-weight: 200;margin-right: 30px; display: block;} 

/* hamberger */
#header > .header-mo{display: block; position: relative; width: 40px; height: 3px; background: #3182f6;}
#header > .header-mo::before{position:absolute; top:-10px; right:0; width:33px; height: 3px; background: #3182f6; content: "";}
#header > .header-mo::after{position:absolute; top:10px; right:0; width:33px; height: 3px; background: #3182f6; content: "";}

/* banner */
#banner{width: 100%; max-width:1940px; margin:0 auto; position: relative;}
#banner .container{height:500px; position:absolute; z-index: 5; top:0; left:50%; transform: translateX(-50%);}
#banner .swiper-button-next{background: url(../images/main/main_controls_next.png) no-repeat center center; width:56px; height: 56px;}
#banner .swiper-button-prev{background: url(../images/main/main_controls_prev.png) no-repeat center center; width:56px; height: 56px;}
#banner .swiper-button-next::after, #banner .swiper-button-prev::after{content: "";}
.swiper-pagination-bullet{width: 12px; height: 12px; background: #fff; opacity: 1; }
.swiper-pagination-bullet-active{width:35px; height:12px; border-radius:100px; transition: all 0.3s; background:#3182f6;}

/* main__today */
#main__today{position: relative;}
#main__today .today_bg{width:100%; height:304px; background:url('../images/main/main_today_bg.jpg') no-repeat center center;}
#main__today .today_contant{width: 1280px; position:absolute;top:60px; left:50%; transform: translateX(-50%); z-index: 9; text-align: center;}
#main__today .today_contant h1{font-size: 35px; color:#fff; text-align: center; letter-spacing: -1px;}
#main__today .today_contant h1 > strong{ font-size: 35px;  color:#9cc6ff}
#main__today .today_contant > .today_contant_box{width:100%; background: #fff; border-radius: 30px; padding:38px 50px; margin-top: 50px;}
#main__today .today_contant > .today_contant_box > ul{display: flex; justify-content: space-between;}
#main__today .today_contant > .today_contant_box > ul > li{width: 30%;}
#main__today .today_contant > .today_contant_box > ul > li > .today_contant_logo{display: flex;align-items: center;}
#main__today .today_contant > .today_contant_box > ul > li > .today_contant_logo > .today_contant_logoBox{width: 80px; height: 80px; background: #fff; border:1px solid #ddd; margin-right: 30px; display: flex; align-items: center; justify-content: center;}
#main__today .today_contant > .today_contant_box > ul > li > .today_contant_logo > .today_contant_logoBox > img{width: 100%;}
#main__today .today_contant > .today_contant_box > ul > li > .today_contant_logo > .today_contant_tit{font-size: 20px; font-weight: 600; color:#00448d;}
#main__today .today_contant > .today_contant_box > ul > li > .today_contant_artice{margin-top: 20px; -webkit-line-clamp: 3;  color: #666;  line-height: 32px; height: 96px;  font-size: 18px;  overflow: hidden;  text-align: left;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-box-orient: vertical;  word-wrap: break-word;}
#main__today .today_contant > .today_contant_box > ul > li > .btn_more{width:25px; height:25px; position: relative; top:34px; left:330px; transform:rotate(-180deg); background: #000;}
#main__today .today_contant > .today_contant_box > ul > li > .btn_more::before{width:25px; height:3px; background: #3182f6; border-radius: 100px; position:absolute; content: "";top:50%; left:50%; transform: translate(-50%,-50%);}
#main__today .today_contant > .today_contant_box > ul > li > .btn_more:after{width:3px; height:25px; background: #3182f6; border-radius: 100px; position:absolute; content: "";top:50%; left:50%; transform: translate(-50%,-50%);}